<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- (!) We do *not* need ACCESS_BACKGROUND_LOCATION as we only need location in Foreground Service-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- On Android 12+ we must request both FINE and COARSE, but add a handle to explicitly request FINE -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Until API 22 we need this permission to delete the deprecated generic pro account -->
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Needed to check if wifi is available -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Google Maps Android API permission -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- The accounts permissions are the reason why "contacts" permissions are requested -->
    <!-- Allows the app to create accounts and getting / setting their passwords. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- Apps need "GET_ACCOUNTS" permission to read information about accounts. -->
    <uses-permission
      android:name="android.permission.GET_ACCOUNTS" />
    <!-- Allows applications to write & read the sync settings. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- sync stats permissions are needed to check if the data sync is currently active -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <!-- Android 10+: No longer required see https://developer.android.com/training/data-storage/shared/media -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
      android:maxSdkVersion="28"/>

    <!-- Android 10+: Permission no longer provides write access -->
    <!-- Android 10+: Write to MediaStore.Download without permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
      android:maxSdkVersion="28"
      tools:ignore="ScopedStorage" />

    <!-- allowBackup=false as we did not yet define what we really want to backup-->
    <!-- usesCleartextTraffic only API 23+, ignored below. only for debugging -->
    <!-- tools:ignore = UnusedAttribute required to ignore Lint warning (usesCleartextTraffic) -->
    <!-- tools:replace="android:usesCleartextTraffic" required when testing against local collector -->
    <application
        android:name=".MeasuringClient"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:usesCleartextTraffic"
        android:usesCleartextTraffic="${usesCleartextTraffic}">

        <!-- Sentry DSN. This ids the account but is not a secret. -->
        <meta-data android:name="io.sentry.dsn" android:value="https://41f5b42d132a4545a749d1a520c71635@o418976.ingest.sentry.io/5325978" />

        <!-- Google Maps for Android requirements -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}" />

        <!-- This workaround is required to use GoogleMaps with API 28.
        From https://issuetracker.google.com/issues/79478779 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- The TermsOfUseActivity is the activity which is launched as an entry point -->
        <!-- `exported="true"` or else the app cannot be launched after installation! -->
        <!-- As the user can opt-in for Sentry, we can't remove the terms page (DSE in Keycloak) -->
        <activity android:name=".TermsOfUseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- See https://github.com/openid/AppAuth-Android/blob/master/app/AndroidManifest.xml
        for more details on how to handle AppAuth redirects and app links. Activity is called by LoginActivity. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"> <!-- needed so that we don't have "two activities" when opening the activity via the notification bar and hitting the back button -->
        </activity>

        <!-- The LoginActivity automatically launched by the SDK's CyfaceAuthenticator -->
        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/title_activity_login"
            android:exported="false"
            android:launchMode="singleTask" /> <!-- when we switch back from Registration, see https://stackoverflow.com/a/45292292/5815054 -->

        <!-- This overwrites the provider in the SDK. This way the app can be installed next to other SDK using apps -->
        <!-- But we replaced the Content Provider with a Stub Content provider. -->
        <provider
            android:name="de.cyface.persistence.content.StubProvider"
            android:authorities="de.cyface.app.digural.provider"
            android:exported="false"
            android:process=":persistence_process"
            android:syncable="true"
            tools:replace="android:authorities" />
    </application>

</manifest>
