<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cyface.bluetooth_le">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- Since bluetooth can be used to asses a users location this permission is required even though we do not use it in Cyface.-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".DeviceSelectionActivity" android:theme="@android:style/Theme.Holo.Dialog"/>
    </application>

</manifest>