<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android_libs.ub_uiautomator" />
    <application>
        <!-- This workaround is required to use GoogleMaps with API 28.
        From https://issuetracker.google.com/issues/79478779 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>
